<div id="header">

	<div id="header-left">

		<a class="physics-element" href="https://www.google.com/intl/en/about/">About</a>

		<a class="physics-element" href="https://store.google.com/">Store</a>

	</div>

	<div id="header-right">

		<a class="physics-element" href="https://mail.google.com/mail/?tab=wm">Gmail</a>

		<a class="physics-element" href="https://www.google.com/imghp?hl=en&tab=wi&ei=ljNXUojfAqqCyAHQw4CYAQ&ved=0CAQQqi4oAg">Images</a>

		<a href="https://www.google.com/intl/en/options/"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAI0lEQVR42mMoLi7+j4xhgFhxhmFgwH8KAeUGjMbCaCwMCgMA6SkP7lNxogIAAAAASUVORK5CYII=" width="16" height="16" class="physics-element"></a>

		<button id="btnG" class="physics-element" style="height:30px;color:#fff;font-size:13px;font-weight:bold;padding:0 12px 1px 12px;border:1px solid #4285f4;background:-webkit-linear-gradient(top,#4387fd,#4683ea);background:webkit-linear-gradient(top,#4387fd,#4683ea);">Sign in</button>

	</div>

</div>
