<table id="footer">
  <tr>
    <td class="physics-element empty" style="width:1%"><span>&nbsp;</span></td>
    <td class="physics-element"><a href="https://www.google.com/intl/en/ads/?fg=1">Advertising</a></td>
    <td class="physics-element"><a href="https://www.google.com/services/?fg=1">Business</a></td>
    <td class="physics-element empty" style="width:10%"><span>&nbsp;</span></td>
    <td class="physics-element empty" style="width:20%"><span>&nbsp;</span></td>
    <td class="physics-element empty" style="width:10%"><span>&nbsp;</span></td>
    <td class="physics-element empty" style="width:20%"><span>&nbsp;</span></td>
    <td class="physics-element empty" style="width:10%"><span>&nbsp;</span></td>
    <td class="physics-element empty" style="width:10%"><span>&nbsp;</span></td>
    <td class="physics-element empty" style="width:20%"><span>&nbsp;</span></td>
    <td class="physics-element"><a href="https://www.google.com/intl/en/policies/?fg=1">Privacy</a></td>
    <td class="physics-element"><a href="https://www.google.com/intl/en/policies/?fg=1">Terms</a></td>
    <td class="physics-element"><a href="https://www.google.com/preferences?hl=en">Settings</a></td>
    <td class="physics-element empty" style="width:1%"><span>&nbsp;</span></td>
  </tr>
</table>
