html, body {
  width: 100% !important;
  height: 100% !important;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #ffffff;
  font-family: Arial, sans-serif;

  user-select: none;

}

#content {

  width: 100%;
  text-align: center;
  margin-top: 192px;

  white-space: nowrap;

}
